* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  background-image: url(./assets/MP-background3.jpeg);
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center; */
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
}

.form {
  display: flex;
  flex-direction: row;
}
.search-field {
  width: 350px;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.search-button:hover {
  cursor: pointer;
}

.search-button img {
  width: 19px;
  height: 19px;
  object-fit: cover;
}

#category {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cat-cards {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  /* display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 100px; */
}

.category-card {
  height: 200px;
  width: 200px;
  box-shadow: 5px 5px 20px grey;
  border-radius: 15px;
  padding: 25px;
  margin-top: 100px;
  background-color: white;
  background-image: linear-gradient(
    to right,
    rgba(228, 228, 228, 0.822),
    rgba(255, 255, 255, 0.822)
  );
  letter-spacing: 2px;
}

.icon {
  color: rgb(87, 87, 255);
  font-size: 60px;
  margin-top: 25px;
}

.icon:hover {
  color: rgb(255, 78, 128); 
  transition: .3s;
  font-size: 65px;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(
    to right,
    rgba(87, 87, 255, 0.969),
    rgba(78, 226, 255, 0.951)
  );
  margin-bottom: 70px;
  padding-left: 150px;
  padding-right: 150px;
}

.logo {
  align-items: flex-start;
  width: 200px;
  height: 120px;
  margin-top: 8px;
}

/* .logo:hover {
  transition: .3s;
  width: 202px;
  height: 122px;
} */

.home-logo {
  margin-left: 700px;
  margin-top: 50px;
  width: 650px;
  height: 400px;
}

.home-text {
  display: none;
  margin-left: 700px;
  font-size: 30px;
  letter-spacing: 3px;
  color: rgb(255, 78, 128);
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-style: oblique;
  margin-top: -40px;
}

.home-logo:hover + .home-text {
  display: block;
}

.nav-links {
  display: flex;
  padding: 10px;
  margin-top: 10px;
}

.links {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

.links:hover {
  color: rgb(241, 241, 241);
  text-shadow: 2px 2px rgb(0, 0, 0);  
  transition: .3s;
  /* font-size: 21px; */
}

#login {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-card {
  display: grid;
  place-items: start;
  align-items: center;
  height: 400px;
  width: 350px;
  box-shadow: 5px 5px 20px grey;
  border-radius: 15px;
  padding: 50px;
  margin-top: 100px;
  background-color: white;
  background-image: linear-gradient(
    to right,
    rgba(87, 87, 255, 0.624),
    rgba(78, 226, 255, 0.623)
  );
}

.input {
  height: 30px;
  width: 250px;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.btn {
  height: 30px;
  width: 250px;
  border-radius: 100px;
  margin-top: 20px;
}

.btn:hover {
  /* background-color: rgba(87, 87, 255, 0.624); */
  color: aliceblue;
  background-image: linear-gradient(
    to right,
    rgba(87, 87, 255, 0.969),
    rgba(78, 226, 255, 0.951)
  );
}

label {
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 30px;
}

#login h1 {
  margin-bottom: 100px;
}

#signUp {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signUp-card {
  display: grid;
  place-items: start;
  align-items: center;
  height: 400px;
  width: 350px;
  box-shadow: 5px 5px 20px grey;
  border-radius: 15px;
  padding: 50px;
  margin-top: 100px;
  background-color: white;
  background-image: linear-gradient(
    to right,
    rgba(87, 87, 255, 0.624),
    rgba(78, 226, 255, 0.623)
  );
}

#signUp h1 {
  margin-bottom: 100px;
}

.already {
  width: 225px;
  margin-top: 20px;
}

.sign-link {
  text-decoration: none;
  color: aliceblue;
} 

.sign-link:hover {
  color: rgb(255, 78, 128);
}

@media only screen and (max-width: 1300px) {
  .cat-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .cat-cards {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .cat-cards {
    width: 100%;
  }
  .category-card {
    width: 200px;
    height: 200px;
  }
}




.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 35px;
}
.toggleButton button {
  /* margin-right: 20px; */
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#open .nav-links {
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  padding-left: 40px;
}

#open a {
  width: 100%;
  text-align: start;
  font-size: 25px;
  padding-bottom: 20px;
}

#open .toggleButton button {
  margin-right: 6px;
}

#open .search-container {
  display: flex;
  padding-left: 40px;
}

#open .search-field {
  width: auto;
}

/* @media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
  }
} */

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .nav-links {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1320px) {
  .logo {
    display: none;
  }
  .navbar {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 1140px) {
  .search-container {
    /* display: none; */
    width: 100px;
  }
  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
  .links {
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 920px) {
  .search-container {
    /* display: none; */
    width: 50px;
    margin-right: 60px;
  }
  .navbar {
    padding-left: 25px;
    padding-right: 25px;
  }
  .links {
    font-size: medium;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 720px) {
  .search-container {
    display: none;
  }
}